*{
    margin: 0;
    padding: 0;
}
.navbar a {
    color: black
}

.navbar a:hover {
    color: gold;
}

.navbar img {
    width: 100px;
    height: 100px;
}

.navbarScroll.navbarDark {
    background-color: black;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-right: 30px;
}
.intro{
    padding: 100px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}