*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-size: cover;
   
}
.intro{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: larger;
    
}
.footer{
    padding: 40px 0;
    
}
.mieda{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    
}